h2 {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 20px;
}

.singleImage {
  display: block;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.description {
  margin-top: 50px;
  margin-bottom: 50px;
}

h3 {
  margin-top: 50px;
  margin-bottom: 50px;
}

body {
  background-color: #e4dfd9;
}
